.banner-slider {
  min-height: 650px;
}
.slick-dots{
    bottom: 25px;
}
.slick-dots li button::before{
    color: #fff;
    font-size: 14px;
}
.slick-dots .slick-active button::before{
    opacity: 1;
    color: #fff !important;
}