.gallery-image{
    height: 280px;
}
@media (max-width: 1249px){
    .gallery-image{
        height: 200px;
    }
}
@media (max-width: 1024px){
    .gallery-image{
        height: 280px;
    }
}
@media (max-width: 400px){
    .gallery-image{
        height: 200px;
    }
}