@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url('./assests/fonts/Poppins-Regular.woff2');
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
:focus-visible{
  outline: unset;
}
/* Lightbox */
.yarl__container {
  background-color: rgba(0, 0, 0, 0.8);
}
.single-lightbox .yarl__button.yarl__navigation_prev,
.single-lightbox .yarl__button.yarl__navigation_next {
  display: none;
}